
<div>Aca va la navegacion</div>
<app-nav></app-nav>

<!--direccina el ruteo de componentes -->
<router-outlet></router-outlet>

<div>Aca va el footer</div>


<!--img src="assets/img/sami.jpg" alt="Gatito"-->
<!-- recordar que el path d los asstets cuando cree el build es assets/ -->

<!--h2>componente card</h2-->

<!-- enviando info de un comp a otro definido en app.component.ts -->
<!--app-card [titulo]="titulo"
          [img]="img"
          [desc]="desc"
        [precio]="precio"></app-card-->

